Version D: Student w/, Sales w/o

In [ ]:
import pandas as pd
import numpy as np

## Case 1: Student DataFrame 

We have records of some student information in the `student` DataFrame with 4 columns: 
- `Student`: the name of the student
- `Course`: the class that the student has taken
- `Percentage`: the student's grade in percentage
- `Grade`: the letter grade that the student received 

The `student` DataFrame is also shown below.

In [ ]:
student = pd.read_csv('data/student_grades.csv')
student

### Given the code below with annotative visualizations, come up with a short description of the purpose of the code.

In the next cell below, we will load [Pandas Tutor](https://pandastutor.com/), which enhances the default output with annotated visualizations. By including the cell magic `%%pt` in the first line of any cell, you can visualize the last line of code within that cell.

In [ ]:
%reload_ext pandas_tutor

### Case Theta

In [ ]:
%%pt
student.sort_values('Percentage', ascending = False).iloc[:3, 1:3].groupby('Course').count()

### Case Gamma

In [ ]:
%%pt
instructor = pd.DataFrame({'Course': ['DSC10', 'COGS18'], "Instructor": ["Sam", "Samuel"]})
(
    student.merge(instructor, how='inner', on='Course')
    .pivot_table(index='Instructor', columns='Grade', values='Student', aggfunc='count')
)

### Case Kappa

In [ ]:
%%pt
def aboveCutoff(df, cutoff):
    return df['Percentage'].mean() > cutoff

(
    student.groupby('Student')
    .filter(aboveCutoff, cutoff=85)
    .groupby('Course')
    .agg({'Student': 'count', 'Percentage': 'mean', 'Grade': 'unique'})
)

## Case 2: Sales DataFrame 

At the company, we keep track of the `sales` as a DataFrame with 3 columns: 
- `Salesperson`: the employee who sold the items
- `Product`: the items that were sold
- `Quantity_Sold`: the count of items that were sold

The `sales` DataFrame is also shown below.

In [ ]:
sales = pd.read_csv('data/quarter_sales.csv')
sales

### Given the code below with default visualizations, come up with a short description of the purpose of the code.

### Case Epsilon

In [ ]:
sales.sort_values('Quantity_Sold', ascending = False).iloc[:3, 1:3].groupby('Product').count()

### Case Zeta

In [ ]:
prices = pd.DataFrame({'Product': ['T-shirt', 'Sweater'], 'Price': [20.99, 29.99]})
(
    sales.merge(prices, how='inner', on='Product')
    .pivot_table(index='Salesperson', columns='Price', values='Quantity_Sold', aggfunc='sum')
)

### Case Lambda

In [ ]:
def aboveCutoff(df, cutoff):
    return df['Quantity_Sold'].sum() > cutoff

(
    sales.groupby('Product')
    .filter(aboveCutoff, cutoff=35)
    .groupby('Salesperson')
    .agg({'Product': 'nunique', 'Quantity_Sold': 'mean'})
 )